.container {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Adjust this value as needed */
}
.about {
  color: #1b6c5c;
  padding: 100px;
  display: flex;
  text-wrap: normal;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #2d545e;
}
.about h1 {
  text-align: center;
  font-size: 24px;
  color: #e1b382;
}

.about p {
  font-size: 20px;
  color: #e1b382;
 
 

}
