.parallax-container1 {
  height: 400px; /* Set the height of the container */
  overflow: hidden; /* Hide the overflow of the container */
  position: relative; /* Set the position to relative */
}
.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-30%);
  will-change: transform;
}

.parallax-layer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e1b382;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.main h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #e1b382;
}

.main p {
  
  font-size: 1.2rem;
  padding: 40px;
}

.main h3 {
  font-size: 1.4rem;
  margin: 40px 0 20px;
  color: #444;
}
.electro-image {
  width: 100%;
  max-width: 800px; /* ili 600px, zavisno koliko želiš */
  height: auto;
  display: block;
  margin: 40px auto;
  border-radius: 8px; /* opcionalno, za estetiku */
}

