.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
  background-color: #f4f4f4;
}

.card {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: whitesmoke;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 1.25rem;
  
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #e1b382;
}

.card-text {
  font-size: 1rem;
  color: #e1b382;
  margin-bottom: 1rem;
}

.card-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.card-link:hover {
  color: #0056b3;
}
